bin
.buildozer
.idea
.directory
*.pyc
db.sqlite3
release/kognitivo.keystore
kognitivo.ini
kognitivo-dev.ini
*.mo
*.pot
settings.json
pytest.ini
*/atlas/*
storage*.json
google-play-services_lib/gen/*
google-play-services_lib/res/*
google-play-services_lib/build.xml
google-play-services_lib/local.properties
google-play-services_lib/proguard-project.txt
facebook-android-sdk/facebook/gen/*
facebook-android-sdk/facebook/res/*
facebook-android-sdk/facebook/build/*
facebook-android-sdk/build
facebook-android-sdk/gen
.gradle

*.profile
invoke.json
lastfailed